/*This is the display for the boards*/
.Board {
    background: rgba(255, 166, 0, 0.25) url("images/bubblePattern.webp");
    background-blend-mode: lighten;
    max-width: vw;
    display: flex;
    margin: 2.5% 2.5%;
    padding: 5% 5%;
    line-height: 200%;
    border-radius: 5%;
}

.Board .text {
    max-width: 50%;
}

.Board .title {
    text-align: center;
}

.Board img {
    position: relative;
    margin-left: 7%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5%;
    height: 30%;
}

/*This is the display for the program list*/
.Programs {
    padding: 2.5% 2.5%;

}

.Programs h3 {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
}

.Programs .list {
    margin: 20px;
    display: flex;
}

.program {
    text-decoration: none;
    width: 30%;
    text-align: center;
    font-size: 200%;
    padding: 10% 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    border-radius: 1%;
    margin: 5px;
    border: 2px solid gold;
    transition: 0.5s;
}

.program:hover {
    background-blend-mode: lighten;
    background-color: rgba(211, 211, 211, 0.498);
}

#prog1 {
    background-image: url(images/img1.jpg);
    border-color: gold;
}

#prog2 {
    background-image: url(images/img2.jpg);
    border-color: orange;
}

#prog3 {
    background-image: url(images/img3.jpg);
    border-color: purple;
}

.program mark {
    background-color: rgba(211, 211, 211, 0.683);
}