* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.background {
    background: rgba(255, 255, 255, .5) url("images/backgroundImage.jpg");
    background-blend-mode: lighten;
    height: 75vh;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#btmStrip {
    height: 40vh;
}

.topBar {
    background-color: white;
    height: 10.5vh;
    position: fixed;
    width: 100%;
    text-align: center;
}

.test {
    margin-top: 10%;
}

.logo {
    background-color: white;
    border: 2px solid gold;
    text-align: center;
    font-size: x-small;
    position: absolute;
    top: 1%;
    left: 1%;
    max-width: 10%;
}

.imageBottom {
    border-image: linear-gradient(to right, gold 33%, orange 33%, orange 67%, purple 67%) 5;
    border-width: 7px;
}

.topImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    width: 2000px;
}

.links {
    text-align: center;
    position: absolute;
    width: 90%;
    top: 5%;
    left: 10%;

}

#barlinks {
    position: relative;
    margin-top: 2%;
}

.links ul li a {
    transition: 0.5s;
    color: rgb(24, 24, 24);
    text-decoration: none;
    font-size: large;
    padding: 1.5% 4%;
    margin-right: 2%;
}

.links ul li a:hover {
    color: purple;
    background-color: rgba(235, 235, 235, 0.589);
    transition: 0.5s;
}

#heading1 {
    padding-top: 15%;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
}

#heading2 {
    padding-top: 5%;
    font-size: 8vh;
    font-weight: bolder;
    text-align: center;
}

#areaHeading {
    padding-top: 22vh;
    font-size: 6vh;
    font-weight: bolder;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

img {
    height: auto;
    max-width: 50%;
}

.links ul li {
    list-style: none;
    display: inline;
}

hr {
    border-top: .5px solid rgb(231, 218, 201);
    border-bottom: none;
}

/*This runs when the screen becomes less than 700 px wide*/
@media(max-width: 700px) {
    .links ul li a {
        font-size: small;
    }
}